default/Jolt-transformation.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1735020593560,
    "description" : "Jolt learning",
    "identifier" : "Jolt-transformation",
    "lastModifiedTimestamp" : 1735020593560,
    "name" : "Jolt transformation ",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e904665d-ace0-3f84-a556-369c0969bda2",
        "name" : "Delete Store Object from Array ",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "caf7da2f-289e-373c-8589-9ab5cc376d79",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7deee659-f605-3415-9875-a90147f1941d",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "89197f72-dbe6-38bf-8a94-167bab872bec",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c88e2504-41e7-333c-a4ad-b97cd98dc6ea",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e904665d-ace0-3f84-a556-369c0969bda2",
        "name" : "Delete Store Object from Array ",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4559881f-a7a4-3d38-9b72-60f231c259e5",
        "name" : "updating the file content",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4e434a02-a4d8-326c-bf72-f9c2b896cb98",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28a83530-eba2-3e2e-9469-19309376b127",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cab204a4-ad5f-3f5b-97d3-dc58f5fe206f",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b62736d2-6840-3a24-ab4c-a300f1d1f555",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9521b678-5152-357f-ba03-c4b9f9970ca2",
        "name" : "Save Deleted Store Object as file",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92969894-4237-3a0a-b92c-6edab85e29cc",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d7d92bd9-db31-3b02-b7e1-be4891cd75e7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7662b241-c176-3441-a37e-58b1726162bb",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b8539d46-ab27-377b-bccb-a7914b485fdc",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "229c542d-ec3b-3af1-a839-3b982312eccf",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "68d255f0-de27-3c9c-91bc-4d8e23bb0b19",
        "name" : "Delete Store Object from Array ",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "24880807-51c2-3482-8cc5-d14ab753626c",
        "name" : "Save Deleted Store Object as file",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "61565a7e-abd8-340e-bc97-cdc3832daec4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7deee659-f605-3415-9875-a90147f1941d",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9324ab58-c355-332b-9553-8ca861ed12a5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "df1a1994-b8e2-3106-9e46-bb27dab9941a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4559881f-a7a4-3d38-9b72-60f231c259e5",
        "name" : "updating the file content",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28a83530-eba2-3e2e-9469-19309376b127",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "473d25af-5307-3669-8f91-7fcc9c1713a6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3e961ac0-38f6-3235-a3f3-dc5666a53831",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9521b678-5152-357f-ba03-c4b9f9970ca2",
        "name" : "Save Deleted Store Object as file",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1169e6a9-7577-3fdb-baf0-7e3f119de1a0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "646f81d5-f438-3a01-b8fa-4bd36c7130b4",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28a83530-eba2-3e2e-9469-19309376b127",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bc608918-c0c4-3933-888b-8fcf51997da8",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "92969894-4237-3a0a-b92c-6edab85e29cc",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3e961ac0-38f6-3235-a3f3-dc5666a53831",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ed55bcdd-4cc2-3a53-9fe5-423200742d87",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "24880807-51c2-3482-8cc5-d14ab753626c",
        "name" : "Save Deleted Store Object as file",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "43cfed7c-6b40-39d8-ab59-feea3f54f913",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "de34c2ea-3168-31f1-8ba6-4990bcaab8cd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9324ab58-c355-332b-9553-8ca861ed12a5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "68d255f0-de27-3c9c-91bc-4d8e23bb0b19",
        "name" : "Delete Store Object from Array ",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0441f218-0e5f-3040-8fd2-ef1db43dd942",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "646f81d5-f438-3a01-b8fa-4bd36c7130b4",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "JoltLearning",
    "outputPorts" : [ ],
    "parameterContextName" : "copypastecontext",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3e961ac0-38f6-3235-a3f3-dc5666a53831",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4312.0,
        "y" : -136.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "mergeFiles" : "merge-content"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "mergeFiles" : {
          "displayName" : "mergeFiles",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mergeFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e904665d-ace0-3f84-a556-369c0969bda2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Delete Store Object from Array ",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4544.0,
        "y" : -752.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-shift",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "\n    {\n      \"*\": \"&\",\n      \"stores\": {\n        \"*\": {\n          \"id\": {\n            \"6476\": null,\n            \"*\": { \"@2\": \"&4[]\" }\n          }\n        }\n      }\n    }\n "
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9324ab58-c355-332b-9553-8ca861ed12a5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4416.0,
        "y" : 360.0
      },
      "properties" : {
        "filename" : "${filename}.json",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "mergeFiles" : "merge-content"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "mergeFiles" : {
          "displayName" : "mergeFiles",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mergeFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "43cfed7c-6b40-39d8-ab59-feea3f54f913",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3944.0,
        "y" : 392.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{tar1}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "646f81d5-f438-3a01-b8fa-4bd36c7130b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -576.0,
        "y" : -296.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "#{src}",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7deee659-f605-3415-9875-a90147f1941d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4928.0,
        "y" : -584.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "#{src1}",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28a83530-eba2-3e2e-9469-19309376b127",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4008.0,
        "y" : 24.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "2",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "5",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Max Bin Age" : "5 secs",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "mergeFiles",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "2"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "92969894-4237-3a0a-b92c-6edab85e29cc",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3784.0,
        "y" : -128.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "mergeFiles" : "merge-content"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "mergeFiles" : {
          "displayName" : "mergeFiles",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mergeFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b8539d46-ab27-377b-bccb-a7914b485fdc",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -208.0,
        "y" : 88.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{tar}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "89197f72-dbe6-38bf-8a94-167bab872bec",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4064.0,
        "y" : -848.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{tar}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cab204a4-ad5f-3f5b-97d3-dc58f5fe206f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -856.0,
        "y" : 120.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{tar1}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7662b241-c176-3441-a37e-58b1726162bb",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3488.0,
        "y" : -296.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "#{src}",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4559881f-a7a4-3d38-9b72-60f231c259e5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "updating the file content",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4288.0,
        "y" : 160.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-shift",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "{\n      \"*\": {\n        \"items\": {\n          \"*\": \"items[]\"\n        }\n      }\n    }\n  }"
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "68d255f0-de27-3c9c-91bc-4d8e23bb0b19",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Delete Store Object from Array ",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 16.0,
        "y" : -168.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-shift",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "\n    {\n      \"*\": \"&\",\n      \"stores\": {\n        \"*\": {\n          \"id\": {\n            \"6476\": null,\n            \"*\": { \"@2\": \"&4[]\" }\n          }\n        }\n      }\n    }\n "
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9521b678-5152-357f-ba03-c4b9f9970ca2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Save Deleted Store Object as file",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -960.0,
        "y" : -96.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-shift",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "\n    {\n     \n      \"stores\": {\n        \"*\": {\n          \"id\": {\n            \"6476\": { \"@2\": \"&4[]\" },\n            \"*\": null\n          }\n        }\n      }\n    }\n "
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "24880807-51c2-3482-8cc5-d14ab753626c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Save Deleted Store Object as file",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -4760.0,
        "y" : -328.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-shift",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "\n    {\n     \n      \"stores\": {\n        \"*\": {\n          \"id\": {\n            \"6476\": { \"@2\": \"&4[]\" },\n            \"*\": null\n          }\n        }\n      }\n    }\n "
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "copypastecontext" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "copypastecontext",
      "parameters" : [ {
        "description" : "this key",
        "name" : "src",
        "provided" : false,
        "sensitive" : false,
        "value" : "/Users/in45580733/Documents/nfile/src"
      }, {
        "description" : "this key",
        "name" : "tar",
        "provided" : false,
        "sensitive" : false,
        "value" : "/Users/in45580733/Documents/nfile/tar"
      }, {
        "description" : "",
        "name" : "src1",
        "provided" : false,
        "sensitive" : false,
        "value" : "/Users/in45580733/Documents/nfile/src1"
      }, {
        "description" : "",
        "name" : "tar1",
        "provided" : false,
        "sensitive" : false,
        "value" : "/Users/in45580733/Documents/nfile/tar1"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "aladdin",
    "flowIdentifier" : "Jolt-transformation",
    "timestamp" : 0
  }
}